.card-player {
    font-family: 'Poppins', sans-serif !important;
    height: 35rem;
}

.btn-campaign {
    font-family: 'Poppins', sans-serif !important;
    background-color: #2D3E50; 
    border-radius: 20px; 
    height: 40px;
<<<<<<< HEAD
    padding: 8px;
}
=======
}

>>>>>>> 5005b3bceddc2c7a683d5e2cc8537682652db699
