body{
    background-image: url('/assets/img/bglogin.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.card{
    width: 580px;
    height: 580px;
    margin: auto;
    margin-top: 130px;
    border-radius: 30%;
}
.formlogin{
    margin: auto;
}

.input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #e00303;
    background: transparent;
    text-decoration: #ffffff;
    border: #ffffff;
}

img{
    width: 200px;
    height: 200px;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
}

.labelemail{
    margin-left: -300px;
    margin-top: 12px;
    font-style: bold;
    font-size: large;
    color: #fff;
}

.labelpass{
    margin-left: -270px;
    margin-top: 12px;
    font-style: bold;
    font-size: large;
    color: #fff;
}

.labeluser{
    margin-left: -260px;
    font-style: bold;
    font-size: large;
    color: #fff;
}

.labelhp{
    margin-left: -290px;
    margin-top: 12px;
    font-style: bold;
    font-size: large;
    color: #fff;
}
.formcon{
    margin-top: 50px;
}

.formcon2{
    margin-top: 0px;
}

.buttoncon{
    margin-top: 20px;
}